* {
    box-sizing: border-box;
}
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font: 16px Arial, sans-serif;;
}
.container {
    max-width: 1060px;
    width: 95%;
    margin: 0 auto 50px;
}
header {
    margin: 0;
    padding: 0;
}
form {
    padding: 30px 0;
    margin: 20px 0;
    position: relative;
}
input[type="search"] {
    border: none;
    font: bold 7em Arial, sans-serif;
    color: #ec5a62;
    background: #f1f1f1;
    width: calc(100% - 151px);
    outline: none; /*Обводка при нажатии на поле ввода*/
}
input[type="search"]::placeholder {
    color: #ddd;
} 
/*Убираем крестик из поля вваода*/
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.search-button {
    width: 133px;
    height: 133px;
    background: no-repeat url("../img/magnifier.svg");
    border: none;
    position: absolute;
        top: 30px;
        right: 0;
    transition: all .3s ease-in; 
}
.search-button:hover {
    width: 151px;
    height: 151px;
    border: none;
    transition: all .3s ease-in; 
    position: absolute;
        top: 21px;
}


main {
    font-size: 0px;
}
.list-box {
    display: inline-block;
    width: 33.33333%;
    color: #c2c2c2;
    margin-top: 40px;
    vertical-align: top;
}
.list-box h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}

.list-box ul {
    padding: 0;
}
ul li {
    padding: 0;
}
.list-box a {
    color: #c2c2c2;
    background: #ebebed;
    display: block;
    text-decoration: none;
    padding: 15px 5px 15px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    width: 90%;
}
.list-box img {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.list-box h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: .8rem;
    font-weight: bold;
    color: #a8a7a7;
    background: #ebebed;
    width: calc(100% - 50px - 10px);
}
.people img {
    border-radius: 50%;
}

.list-box a:hover,
.list-box a:hover h3 {
    background: #dcdcdd;
    color: #ec5a62;
}
@media only screen and (max-width : 670px){
    .container {
        width: 90%;
    }
    input[type="search"] {
        font: bold 2em Arial, sans-serif;
        width: calc(100% - 70px);
    }
    .search-button {
        width: 45px;
        height: 45px;        
    }
    .search-button:hover {
        width: 55px;
        height: 55px;
        top: 25px;
    }
    .list-box {
        display: block;
        width: 100%;
    }
    .list-box a {
        width: 100%;
} 
